apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: portfolio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: ghcr.io/alfremu/devops-portfolio-fastapi-frontend:sha-0e1990c8fa4f7b743a96a4602c942c23c6424f6f
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
